# `DataFrames.jl`

In [180]:
# loading packages
using Pkg
using CSV
using DataFrames
using Downloads
using Missings
using Random
using Statistics

In [181]:
# package versions
Pkg.status()

Project JuliaBasics v0.1.0
Status `~/Documents/Projects/Julia/JuliaBasics/Project.toml`
  [336ed68f] CSV v0.10.9
  [a93c6f00] DataFrames v1.5.0
  [e1d29d7a] Missings v1.1.0
  [ce6b1742] RDatasets v0.7.7

## download data

In [182]:
# set directory
data_dir = "data";

In [183]:
# create directory
if !isdir(data_dir)
    mkdir(data_dir)
end;

In [184]:
# set file name and path
file_name = "iris.csv"
file_path = joinpath(pwd(), data_dir, file_name);

In [185]:
# set file url
file_url = string("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/", file_name);

In [186]:
# download data
if !isfile(file_path)
    Downloads.download(file_url, file_path);
end

## read data

In [187]:
# read data
iris = DataFrame(CSV.File(file_path, delim = ","));

## explore data

### `nrow`, `ncol` and `size`

In [188]:
# number of rows
nrow(iris)

150

In [189]:
# number of columns
ncol(iris)

5

In [190]:
# size
size(iris)

(150, 5)

### `names`

In [191]:
# column names
names(iris)

5-element Vector{String}:
 "sepal_length"
 "sepal_width"
 "petal_length"
 "petal_width"
 "species"

### `propertynames`

In [192]:
# column names
propertynames(iris)

5-element Vector{Symbol}:
 :sepal_length
 :sepal_width
 :petal_length
 :petal_width
 :species

### `eltype`

In [193]:
# element type
eltype(iris.species)

String15

In [194]:
# element types
eltype.(eachcol(iris))

5-element Vector{DataType}:
 Float64
 Float64
 Float64
 Float64
 String15

In [195]:
# dict of element types
Dict(names(iris) .=> eltype.(eachcol(iris)))

Dict{String, DataType} with 5 entries:
  "sepal_length" => Float64
  "petal_width"  => Float64
  "petal_length" => Float64
  "sepal_width"  => Float64
  "species"      => String15

### `unique`

In [196]:
# unique values
unique(iris.species)

3-element Vector{String15}:
 "setosa"
 "versicolor"
 "virginica"

### value counts

In [197]:
# value counts
combine(groupby(iris, :species), nrow)

3×2 DataFrame
 Row │ species     nrow
     │ String15    Int64
─────┼───────────────────
   1 │ setosa         50
   2 │ versicolor     50
   3 │ virginica      50

### `first`, `last`

In [198]:
# first rows
first(iris, 5)

5×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          4.7          3.2           1.3          0.2  setosa
   4 │          4.6          3.1           1.5          0.2  setosa
   5 │          5.0          3.6           1.4          0.2  setosa

In [199]:
# last rows
last(iris, 3)

3×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          6.5          3.0           5.2          2.0  virginica
   2 │          6.2          3.4           5.4          2.3  virginica
   3 │          5.9          3.0           5.1          1.8  virginica

### `describe`

#### all columns

In [200]:
# all columns
describe(iris)

5×7 DataFrame
 Row │ variable      mean     min     median  max        nmissing  eltype
     │ Symbol        Union…   Any     Union…  Any        Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333  4.3     5.8     7.9               0  Float64
   2 │ sepal_width   3.05733  2.0     3.0     4.4               0  Float64
   3 │ petal_length  3.758    1.0     4.35    6.9               0  Float64
   4 │ petal_width   1.19933  0.1     1.3     2.5               0  Float64
   5 │ species                setosa          virginica         0  String15

#### numeric columns

In [201]:
# number
describe(iris, cols=names(iris, Number))

4×7 DataFrame
 Row │ variable      mean     min      median   max      nmissing  eltype
     │ Symbol        Float64  Float64  Float64  Float64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333      4.3     5.8       7.9         0  Float64
   2 │ sepal_width   3.05733      2.0     3.0       4.4         0  Float64
   3 │ petal_length  3.758        1.0     4.35      6.9         0  Float64
   4 │ petal_width   1.19933      0.1     1.3       2.5         0  Float64

In [202]:
# statistics
describe(iris, cols=names(iris, Number), :min, :q25, :median, :q75, :max, :mean, :std)

4×8 DataFrame
 Row │ variable      min      q25      median   q75      max      mean     std ⋯
     │ Symbol        Float64  Float64  Float64  Float64  Float64  Float64  Flo ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length      4.3      5.1     5.8       6.4      7.9  5.84333  0.8 ⋯
   2 │ sepal_width       2.0      2.8     3.0       3.3      4.4  3.05733  0.4
   3 │ petal_length      1.0      1.6     4.35      5.1      6.9  3.758    1.7
   4 │ petal_width       0.1      0.3     1.3       1.8      2.5  1.19933  0.7
                                                                1 column omitted

In [203]:
# statistics, adding an anonymous function
describe(iris, cols=names(iris, Number), :min, :max, (x -> maximum(x) - minimum(x)) => :range)

4×4 DataFrame
 Row │ variable      min      max      range
     │ Symbol        Float64  Float64  Float64
─────┼─────────────────────────────────────────
   1 │ sepal_length      4.3      7.9      3.6
   2 │ sepal_width       2.0      4.4      2.4
   3 │ petal_length      1.0      6.9      5.9
   4 │ petal_width       0.1      2.5      2.4

In [204]:
# statistics, adding a function

function my_function(x)
    range = maximum(x) - minimum(x)
    return range
end

describe(iris, cols=names(iris, Number), :min, :max, my_function => :range)

4×4 DataFrame
 Row │ variable      min      max      range
     │ Symbol        Float64  Float64  Float64
─────┼─────────────────────────────────────────
   1 │ sepal_length      4.3      7.9      3.6
   2 │ sepal_width       2.0      4.4      2.4
   3 │ petal_length      1.0      6.9      5.9
   4 │ petal_width       0.1      2.5      2.4

#### alphanumeric columns

In [205]:
# abstractstring
describe(iris, cols=names(iris, AbstractString))

1×7 DataFrame
 Row │ variable  mean     min       median   max        nmissing  eltype
     │ Symbol    Nothing  String15  Nothing  String15   Int64     DataType
─────┼─────────────────────────────────────────────────────────────────────
   1 │ species            setosa             virginica         0  String15

In [206]:
# statistics
describe(iris, cols=names(iris, AbstractString), :first, :last, :nunique, :nmissing, :nnonmissing)

1×6 DataFrame
 Row │ variable  first     last       nunique  nmissing  nnonmissing
     │ Symbol    String15  String15   Int64    Int64     Int64
─────┼───────────────────────────────────────────────────────────────
   1 │ species   setosa    virginica        3         0          150

In [207]:
# statistics, adding anonymous functions
describe(
    iris, 
    cols=names(iris, AbstractString), 
    (x -> minimum(length.(x))) => :min_length, 
    (x -> maximum(length.(x))) => :max_length
)

1×3 DataFrame
 Row │ variable  min_length  max_length
     │ Symbol    Int64       Int64
─────┼──────────────────────────────────
   1 │ species            6          10

#### selected columns

In [208]:
# range
describe(iris, cols=1:3)

3×7 DataFrame
 Row │ variable      mean     min      median   max      nmissing  eltype
     │ Symbol        Float64  Float64  Float64  Float64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333      4.3     5.8       7.9         0  Float64
   2 │ sepal_width   3.05733      2.0     3.0       4.4         0  Float64
   3 │ petal_length  3.758        1.0     4.35      6.9         0  Float64

In [209]:
# index
describe(iris, cols=[1, 2, 5])

3×7 DataFrame
 Row │ variable      mean     min     median  max        nmissing  eltype
     │ Symbol        Union…   Any     Union…  Any        Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333  4.3     5.8     7.9               0  Float64
   2 │ sepal_width   3.05733  2.0     3.0     4.4               0  Float64
   3 │ species                setosa          virginica         0  String15

In [210]:
# propertynames
describe(iris, cols=[:petal_length, :petal_width])

2×7 DataFrame
 Row │ variable      mean     min      median   max      nmissing  eltype
     │ Symbol        Float64  Float64  Float64  Float64  Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ petal_length  3.758        1.0     4.35      6.9         0  Float64
   2 │ petal_width   1.19933      0.1     1.3       2.5         0  Float64

In [211]:
# regex
describe(iris, cols=r"width")

2×7 DataFrame
 Row │ variable     mean     min      median   max      nmissing  eltype
     │ Symbol       Float64  Float64  Float64  Float64  Int64     DataType
─────┼─────────────────────────────────────────────────────────────────────
   1 │ sepal_width  3.05733      2.0      3.0      4.4         0  Float64
   2 │ petal_width  1.19933      0.1      1.3      2.5         0  Float64

#### selected values

In [212]:
# setosa
describe(iris[iris.species .== "setosa", :])

5×7 DataFrame
 Row │ variable      mean    min     median  max     nmissing  eltype
     │ Symbol        Union…  Any     Union…  Any     Int64     DataType
─────┼──────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.006   4.3     5.0     5.8            0  Float64
   2 │ sepal_width   3.428   2.3     3.4     4.4            0  Float64
   3 │ petal_length  1.462   1.0     1.5     1.9            0  Float64
   4 │ petal_width   0.246   0.1     0.2     0.6            0  Float64
   5 │ species               setosa          setosa         0  String15

## Missing values

### `allowmissing`

In [213]:
# allowmissing
@which allowmissing

Missings

In [214]:
# allowmissing
allowmissing!(iris, [:sepal_length, :sepal_width, :petal_length, :petal_width]);

In [215]:
# element types
eltype.(eachcol(iris))

5-element Vector{Type}:
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 Union{Missing, Float64}
 String15

### Create missing values

In [216]:
# set seed
Random.seed!(20_000);

In [217]:
# create missings
n = 100
for i in 1:n
    iris[rand(1:nrow(iris)), rand(1:4)] = missing
end

In [218]:
# count missings
describe(iris, :nmissing, :eltype)

5×3 DataFrame
 Row │ variable      nmissing  eltype
     │ Symbol        Int64     Type
─────┼─────────────────────────────────────────────────
   1 │ sepal_length        24  Union{Missing, Float64}
   2 │ sepal_width         30  Union{Missing, Float64}
   3 │ petal_length        29  Union{Missing, Float64}
   4 │ petal_width         17  Union{Missing, Float64}
   5 │ species              0  String15

In [219]:
# check total number of missings
sum(describe(iris, :nmissing).nmissing) == n

true

In [220]:
# first rows
first(iris, 5)

5×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64?      Float64?     Float64?      Float64?     String15
─────┼────────────────────────────────────────────────────────────────
   1 │          5.1          3.5     missing      missing    setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          4.7    missing             1.3          0.2  setosa
   4 │          4.6    missing             1.5          0.2  setosa
   5 │          5.0    missing             1.4          0.2  setosa

### `eltype`, `nonmissingtype`

In [221]:
eltype(iris.sepal_length)

Union{Missing, Float64}

In [222]:
nonmissingtype(eltype(iris.sepal_length))

Float64

In [223]:
nonmissingtype.(eltype.(eachcol(iris)))

5-element Vector{DataType}:
 Float64
 Float64
 Float64
 Float64
 String15

### count missings

In [224]:
# vector
[sum(ismissing.(col)) for col in eachcol(iris)]

5-element Vector{Int64}:
 24
 30
 29
 17
  0

In [225]:
# dictionary
Dict(zip(names(iris), [sum(ismissing.(col)) for col in eachcol(iris)]))

Dict{String, Int64} with 5 entries:
  "sepal_length" => 24
  "petal_width"  => 17
  "petal_length" => 29
  "sepal_width"  => 30
  "species"      => 0

In [226]:
# dataframe
describe(iris, :nmissing)

5×2 DataFrame
 Row │ variable      nmissing
     │ Symbol        Int64
─────┼────────────────────────
   1 │ sepal_length        24
   2 │ sepal_width         30
   3 │ petal_length        29
   4 │ petal_width         17
   5 │ species              0

### `dropmissing`

In [227]:
# copy iris
iris_copy = deepcopy(iris);

In [228]:
# dropmissing
dropmissing(iris)

71×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          4.9          3.0           1.4          0.2  setosa
   2 │          5.4          3.9           1.7          0.4  setosa
   3 │          4.6          3.4           1.4          0.3  setosa
   4 │          5.0          3.4           1.5          0.2  setosa
   5 │          4.9          3.1           1.5          0.1  setosa
   6 │          4.3          3.0           1.1          0.1  setosa
   7 │          5.4          3.4           1.7          0.2  setosa
   8 │          5.1          3.7           1.5          0.4  setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮           ⋮
  65 │          6.4          2.8           5.6          2.2  virginica
  66 │          6.3          2.8           5.1          1.5  virginica
  67 │          6.7          3.1           5.6          2.4  virginica
  68 │          6.9          3.1           5.1          2.3  virginica
  69 │          5.8          2.7           5.1          1.9  virginica
  70 │          6.8          3.2           5.9          2.3  virginica
  71 │          6.7          3.3           5.7          2.5  virginica
                                                        56 rows omitted

In [229]:
# dropmissing
dropmissing!(iris, [:sepal_length, :sepal_width]);

In [230]:
# first rows
first(iris, 7)

7×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64?      Float64?     String15
─────┼────────────────────────────────────────────────────────────────
   1 │          5.1          3.5     missing      missing    setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          5.4          3.9           1.7          0.4  setosa
   4 │          4.6          3.4           1.4          0.3  setosa
   5 │          5.0          3.4           1.5          0.2  setosa
   6 │          4.4          2.9     missing            0.2  setosa
   7 │          4.9          3.1           1.5          0.1  setosa

### `replace`

In [231]:
# restore copy
iris = deepcopy(iris_copy);

In [232]:
# replace values (without changing element type)
replace!(iris.sepal_width, missing => 1_000);

In [233]:
# describe
describe(iris, :nmissing, :eltype)

5×3 DataFrame
 Row │ variable      nmissing  eltype
     │ Symbol        Int64     Type
─────┼─────────────────────────────────────────────────
   1 │ sepal_length        24  Union{Missing, Float64}
   2 │ sepal_width          0  Union{Missing, Float64}
   3 │ petal_length        29  Union{Missing, Float64}
   4 │ petal_width         17  Union{Missing, Float64}
   5 │ species              0  String15

### `coalesce`

In [234]:
# restore copy
iris = deepcopy(iris_copy);

In [235]:
# replace missing values (with changing the element type)
iris.sepal_width = coalesce.(iris.sepal_width, 1_000);

In [236]:
# describe
describe(iris, :nmissing, :eltype)

5×3 DataFrame
 Row │ variable      nmissing  eltype
     │ Symbol        Int64     Type
─────┼─────────────────────────────────────────────────
   1 │ sepal_length        24  Union{Missing, Float64}
   2 │ sepal_width          0  Real
   3 │ petal_length        29  Union{Missing, Float64}
   4 │ petal_width         17  Union{Missing, Float64}
   5 │ species              0  String15

### Replace values by `mean` per `species`

In [237]:
# restore copy
iris = deepcopy(iris_copy);

In [238]:
# describe
describe(iris)

5×7 DataFrame
 Row │ variable      mean     min     median  max        nmissing  eltype      ⋯
     │ Symbol        Union…   Any     Union…  Any        Int64     Type        ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.81032  4.3     5.7     7.9              24  Union{Missi ⋯
   2 │ sepal_width   3.01833  2.0     3.0     4.4              30  Union{Missi
   3 │ petal_length  3.71901  1.0     4.3     6.7              29  Union{Missi
   4 │ petal_width   1.20977  0.1     1.3     2.5              17  Union{Missi
   5 │ species                setosa          virginica         0  String15    ⋯
                                                                1 column omitted

In [239]:
# mean from statistics.jl package
@which mean

Statistics

In [240]:
# mean for petal_length (independent of species)
mean(skipmissing(iris.petal_length))

3.7190082644628117

In [241]:
# mean petal_length for species versicolor
mean(skipmissing(iris[isequal.(iris.species, "versicolor"), :petal_length]))

4.269047619047619

In [242]:
# mean petal_length per species
means_before = combine(groupby(iris, :species), :petal_length .=> mean∘skipmissing .=> :mean)

3×2 DataFrame
 Row │ species     mean
     │ String15    Float64
─────┼─────────────────────
   1 │ setosa      1.46829
   2 │ versicolor  4.26905
   3 │ virginica   5.53947

In [243]:
# replace missing petal_length values by the mean per species
for group in groupby(iris, :species)
    group[ismissing.(group.petal_length), :petal_length] .= mean(skipmissing(group.petal_length))
end

In [244]:
# describe
describe(iris)

5×7 DataFrame
 Row │ variable      mean     min     median   max        nmissing  eltype     ⋯
     │ Symbol        Union…   Any     Union…   Any        Int64     Type       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.81032  4.3     5.7      7.9              24  Union{Miss ⋯
   2 │ sepal_width   3.01833  2.0     3.0      4.4              30  Union{Miss
   3 │ petal_length  3.75894  1.0     4.26905  6.7               0  Union{Miss
   4 │ petal_width   1.20977  0.1     1.3      2.5              17  Union{Miss
   5 │ species                setosa           virginica         0  String15   ⋯
                                                                1 column omitted

In [245]:
# mean petal_length per species
means_after = combine(groupby(iris, :species), :petal_length .=> mean .=> :mean)

3×2 DataFrame
 Row │ species     mean
     │ String15    Float64
─────┼─────────────────────
   1 │ setosa      1.46829
   2 │ versicolor  4.26905
   3 │ virginica   5.53947

In [246]:
# compare means before and after replacing values
isapprox(means_before.mean, means_after.mean)

true

In [247]:
# same comparison, different notation
means_before.mean ≈ means_after.mean

true

In [248]:
# disallow missing values
disallowmissing!(iris, :petal_length);

In [249]:
# describe
describe(iris)

5×7 DataFrame
 Row │ variable      mean     min     median   max        nmissing  eltype     ⋯
     │ Symbol        Union…   Any     Union…   Any        Int64     Type       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.81032  4.3     5.7      7.9              24  Union{Miss ⋯
   2 │ sepal_width   3.01833  2.0     3.0      4.4              30  Union{Miss
   3 │ petal_length  3.75894  1.0     4.26905  6.7               0  Float64
   4 │ petal_width   1.20977  0.1     1.3      2.5              17  Union{Miss
   5 │ species                setosa           virginica         0  String15   ⋯
                                                                1 column omitted

In [250]:
# replace missing values by the mean per species for all numeric columns
for grp in groupby(iris, :species)
    for col in names(iris, Union{Missing, Float64})
        grp[ismissing.(grp[!, col]), col] .= mean(skipmissing(grp[!, col]))
    end
end

In [257]:
# disallow missing values
disallowmissing!(iris);

In [251]:
# describe
describe(iris)

5×7 DataFrame
 Row │ variable      mean     min     median   max        nmissing  eltype     ⋯
     │ Symbol        Union…   Any     Union…   Any        Int64     Type       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.82851  4.3     5.8      7.9               0  Union{Miss ⋯
   2 │ sepal_width   3.03569  2.0     3.0      4.4               0  Union{Miss
   3 │ petal_length  3.75894  1.0     4.26905  6.7               0  Float64
   4 │ petal_width   1.20098  0.1     1.3      2.5               0  Union{Miss
   5 │ species                setosa           virginica         0  String15   ⋯
                                                                1 column omitted